@charset "UTF-8";
@font-face {
  font-family: "site-font";
  src: url("../fonts/NotoSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  overflow-x: hidden;
  font-family: "site-font";
  background-color: rgb(253, 211, 161);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.margin-bottom-20 {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

header {
  width: 100%;
  position: fixed;
  z-index: 9;
}
header .inner-header {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-header nav#nav-menu {
  width: 30%;
}
header .inner-header nav#nav-menu ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
header .inner-header nav#nav-menu ul li {
  background-color: rgb(147, 168, 197);
  border: none;
  margin: 0px 10px;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
header .inner-header nav#nav-menu ul li:hover {
  background-color: rgb(78, 96, 121);
  color: white;
}
header .inner-header nav#nav-menu #close-nav {
  position: absolute;
  display: none;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  header .inner-header nav#nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background: #f7a06e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
  }
  header .inner-header nav#nav-menu #close-nav {
    display: block;
  }
  header .inner-header nav#nav-menu #close-nav {
    position: absolute;
  }
  header .inner-header nav#nav-menu ul {
    flex-direction: column;
    text-align: center;
  }
  header .inner-header nav#nav-menu ul li {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
  header .inner-header nav#nav-menu.active {
    right: 0;
  }
}
header .inner-header #hamburger-menu {
  display: none;
  cursor: pointer;
}
header .inner-header #hamburger-menu img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 770px) {
  header .inner-header #hamburger-menu {
    display: block;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

#overlay.active {
  display: block;
}

main .big-wallpaper {
  width: 100%;
  height: 100%;
  background: url("../img/nema-ime-fuck/10 Slobodni portfolio_drugi semestar_Tamara Popović.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .big-wallpaper .big-wallpaper-div {
  width: 50%;
  text-align: center;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-text {
  width: 100%;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-text h1 {
  font-size: 3em;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-text h3 {
  font-size: 1.5em;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-buttons {
  width: 90%;
  margin: 0px auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-buttons button {
  background-color: rgb(147, 168, 197);
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
main .big-wallpaper .big-wallpaper-div .big-wallpaper-buttons button:hover {
  background-color: rgb(78, 96, 121);
  color: white;
}
main .full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .responsive-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin: 0px auto;
  height: 100vh;
}
main .text-content, main .image-content {
  width: 48%;
}
main .text-content h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}
main .text-content p {
  font-size: 1.2rem;
}
main .image-content img {
  max-width: 100%;
  height: auto;
}
main .section2 {
  background-color: lightgreen;
}
main .section3 {
  background-color: lightcoral;
}

@media screen and (max-width: 770px) {
  .responsive-section {
    flex-direction: column;
    width: 100% !important;
    height: auto;
  }
  .text-content, .image-content {
    width: 100% !important;
  }
  .text-content img, .image-content img {
    width: 100%;
  }
  .text-content {
    order: 2;
  }
  .image-content {
    order: 1;
  }
}
@media screen and (max-width: 430px) {
  .big-wallpaper .big-wallpaper-div {
    width: 100% !important;
    text-align: center;
  }
  .big-wallpaper .big-wallpaper-div .big-wallpaper-text {
    width: 100%;
  }
  .big-wallpaper .big-wallpaper-div .big-wallpaper-text h1 {
    font-size: 2.5em !important;
  }
  .big-wallpaper .big-wallpaper-div .big-wallpaper-text h3 {
    font-size: 1em !important;
  }
  .big-wallpaper .big-wallpaper-div .big-wallpaper-buttons {
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
  }
  .big-wallpaper .big-wallpaper-div .big-wallpaper-buttons button {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */