$bojaSajta: rgb(147, 168, 197);
$black: black;
$white: white;

@font-face {
  font-family: "site-font";
  src: url("../fonts/NotoSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  overflow-x: hidden;
  font-family: "site-font";
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}
header {
  width: 100%;
  position: fixed;
  z-index: 9;

  .inner-header {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav#nav-menu { 
      width: 30%;

      ul {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        li {
          background-color: $bojaSajta;
          border: none;
          margin: 0px 10px;
          padding: 5px 20px;
          border-radius: 20px;
          font-weight: bold;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            background-color: rgb(78, 96, 121);
            color: $white;
          }
        }
      }

      #close-nav {
        position: absolute;
        display: none;
        top: 10px;
        right: 15px;
        font-size: 30px;
        color: white;
        cursor: pointer;
      }

      @media screen and (max-width: 770px) {
        #close-nav {
          display: block;
        }
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 250px;
        background: #f7a06e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        #close-nav{
          position: absolute;
        }
        ul {
          flex-direction: column;
          text-align: center;

          li {
            margin: 20px 0;
            width: 100%;
            text-align: center;
          }
        }

        &.active {
          right: 0;
        }
      }
    }

    #hamburger-menu {  // Updated hamburger selector with id
      display: none;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }

      @media screen and (max-width: 770px) {
        display: block;
      }
    }
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 8; 
  display: none; 
  transition: opacity 0.3s ease-in-out;
}
#overlay.active {
  display: block;
}
main{
  .big-wallpaper{
    width: 100%;
    height: 100%;
    background: url("../img/nema-ime-fuck/10 Slobodni portfolio_drugi semestar_Tamara Popović.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .big-wallpaper-div{
      width: 50%;
      text-align: center;
      .big-wallpaper-text{
        width: 100%;
        h1{
          font-size: 3em;
        }
        h3{
          font-size: 1.5em;
        }
      }
      .big-wallpaper-buttons{
        width: 90%;
        margin: 0px auto;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        button{
          background-color: $bojaSajta;
          border: none;
          padding: 10px 30px;
          border-radius: 20px;
          font-weight: bold;
          transition: 0.5s;
          cursor: pointer;
          &:hover{
            background-color: rgb(78, 96, 121);
            color: $white;
          }
        }
      }
    }
    
  }
}



@media screen and (max-width: 430px) {
  .big-wallpaper{
    .big-wallpaper-div{
      width: 100% !important;
      text-align: center;
      .big-wallpaper-text{
        width: 100%;
        h1{
          font-size: 2.5em !important;
        }
        h3{
          font-size: 1em !important;
        }
      }
      .big-wallpaper-buttons{
        width: 90%;
        margin: 0px auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        button{
          margin: 10px;
        }
      }
    }
    
  }
}