$bojaSajta: rgb(147, 168, 197);
$black: black;
$white: white;

@font-face {
  font-family: "site-font";
  src: url("../fonts/NotoSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  overflow-x: hidden;
  font-family: "site-font";
}

a{
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

main{
  .big-wallpaper{
    width: 100%;
    height: 100%;
    background: url("../img/nema-ime-fuck/10 Slobodni portfolio_drugi semestar_Tamara Popović.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .tam-logo{
      position: absolute;
      top: 60px;
      left: 60px;
      width: 100px;
      height: 100px;
      color: orange;
      a{
        img{
          width: 100%;
        }
      }
    }
    .big-wallpaper-div{
      width: 50%;
      text-align: center;
      .big-wallpaper-text{
        width: 100%;
        h1{
          font-size: 3em;
        }
        h3{
          font-size: 1.5em;
        }
      }
      .big-wallpaper-buttons{
        width: 90%;
        margin: 0px auto;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        button{
          background-color: $bojaSajta;
          border: none;
          padding: 10px 30px;
          border-radius: 20px;
          font-weight: bold;
          transition: 0.5s;
          cursor: pointer;
          &:hover{
            background-color: rgb(78, 96, 121);
            color: $white;
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 430px) {
  .big-wallpaper{
    .tam-logo{
      position: absolute;
      top: 20px !important;
      left: 20px !important;
      width: 50px !important;
      height: 50px !important;
      a{
        img{
          width: 100%;
        }
      }
    }
    .big-wallpaper-div{
      width: 100% !important;
      text-align: center;
      .big-wallpaper-text{
        width: 100%;
        h1{
          font-size: 2.5em !important;
        }
        h3{
          font-size: 1em !important;
        }
      }
      .big-wallpaper-buttons{
        width: 90%;
        margin: 0px auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        button{
          margin: 10px;
        }
      }
    }
    
  }
}